@model List<ContactFormModel>
    
<h2>Gönderilen Formlar</h2>

@if (Model == null || !Model.Any())
{
    <p>Bu departmanda mesaj mevcut değil</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>İsim ve Soyisim</th>
                <th>Telefon Numarası</th>
                <th>Email</th>
                <th>Departman</th>
                <th>Mesaj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var form in Model)
            {
                <tr>
                    <td>@form.FullName</td>
                    <td>@form.Phone</td>
                    <td>@form.Email</td>
                    <td>@form.Department</td>
                    <td>@form.Message</td>
                </tr>
            }
        </tbody>
    </table>
}
